.cardContainer {
    background: linear-gradient(to bottom, rgba(36, 35, 41, 1), rgba(17, 16, 22, 1) 100%);
    align-Items: center;
      overflow:hidden;
      text-overflow: ellipsis;
      text-justify: inter-word; 
      text-Decoration:justify;
      padding:40px 24px 17px 24px;
      box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px 1px;
  }

.cardContainer:hover{
    box-shadow: rgba(255, 255, 25, 0.15) 1.95px 1.95px 1px;
  }


  @keyframes slideInFromRight {
    0% {
      transform: translateX(1000%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .animate {
    opacity: 0;
    animation: slideInFromRight 0.5s ease forwards;
  }
  
  .truncateOverflow {
    --max-lines: 4;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem;
  }
  .truncateOverflow::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
  }
  .truncateOverflow::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: transparent;
  }