@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 7, 6, 14,1;
  --background-end-rgb: 0, 0, 0;
}


body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd{
  display: none;
}
.goog-te-combo {
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(36, 35, 41, 1) , rgba(17, 16, 22, 1));
  color: white;  
}
option{
  background-color:rgba(36, 35, 41, 1) ;
  color: white;
}

@keyframes popIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.popInAnimation {
  animation: popIn 0.5s forwards;
}


